body {
    font-family: "Lato", sans-serif; 
    margin:0; 
    height: 100%;
    background-color: #262626; 
    }

*,*::before,*::after{
    transition: all .3s ease;
}
.container {
    display: flex;
}
.fa-trash-alt, .fa-star {
    color: #bfbfbf;
}
#editor {
    color: #bfbfbf;
    border: none;
    background-color: #262626;
}
.ql-toolbar.ql-snow {
    color: white;
    border: none;
  /*   border-left: 1px solid black; */
}
.ql-toolbar {
    color:white;
}
.fas {
    color: #ffc53d;
}
.far, .fas {
    float: right;
    margin-left: 5px;
}
input[type=text] {
    color: #999;
    background-color: #262626;
    font-size: 20px;
    border: none;
    width:230px;
}
input:focus {
    outline: none;
}

.text-input {
    padding: 20px;
    background: #f8f6f6;
}
.title-input{
    margin-left:10px;
    padding: 10px;
}
.navbuttons {
    flex-direction: column;
    List-style-type: none;
}
.list {
    font-family: sans-serif; 
    color: #595959;
    padding: 0;
    List-style-type: none;
}
.list li {
    padding: 20px;
    background: #262626;
    border-bottom: 0.5px solid #999;
}
.list li:hover{
    border-right: none;
    cursor: pointer;
    background: black;
} 
.sidebar-container {
    box-shadow: 3px 0 5px -2px #888;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
}
ul {
    margin-top: 0px;
}
.document {
    background-color: #262626;
    margin-left: 8%;
    width:60%;
    height: 900px;
}
/* .information {
    margin-left: 10px;
    /* border: 1px solid black; 
    width:100%;
    height: 900px;
}

.hidden {
    display: none;
} */

.date {
    color: #999;
    font-size: 10px;
    text-align: center;

}
div a i{
    font-size: 20px;
    align-items: center; 
    /* justify-content: space-between; */
    
}




#logo {
width: 100px;
margin: 5px; 
margin-bottom: 40px; 

}

.navbar {
  display: flex; 
  flex-direction: column; 
  margin: 0; 
  background-color: rgb(41, 66, 75);
 /*  overflow-x: hidden; */
  
}

.icons {
    font-size: 28px;
    color: #dfdfdf;
}
.navbar a {
  text-decoration: none;
  font-size: 30px;
  color:rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: space-around; 
  margin: 20px; 
}
.dark-icon {
    color: black !important;
}
.icons:hover {
  /* font-size: 1.2em; */
  color: #ffc53dc4;
}
.navbar-clicked {
    color: #ffc53dc4;
}

.main {
  margin-left: 50px; /* Same as the width of the navbar */
  padding: 0px 10px;
}
.clicked{ 
    background-color: black!important;
}






@media print {
    @page {
        size: auto;
        margin: 0;
             }
/* .sidebar-container,.list,input,.ql-toolbar {
    display: none;
} */
* :not(#ql-editor) {
    display: none;
} 

#ql-editor{
    width:100%;
    height:900px;
    }
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
