body {
    color: white;
    background-color: #262626;
}
.sidebar-container {
    background-color: #262626;
}

.fa-trash-alt {
    color:#bfbfbf;
}

.fa-star {
    color: rgba(241, 239, 83, 0.541);
}

#editor {
    color: #bfbfbf;
    border: none;
    background-color: #262626;
}
input[type=text] {
    color: #999;
}
.list {
    color: #595959;
}
.clicked{
    background-color: rgba(97, 60, 119, 0.541)!important; 
}
.navbar-clicked {
    color: #ffc53dc4 !important;
}

.list li {
    background-color: #4e4e4e;
    color: white;
}
input[type="text"] {
    background-color: #262626; 
    color: white;
}

.sidebar-container {
    box-shadow: 5px 0 7px -5px rgba(245, 29, 234, 0.363);
}

.icons {
    color: rgb(211, 211, 211);
}
.dark-icon {
    color: black !important;
}
.navbar {
    background-color: rgba(97, 60, 119, 0.726);
    /* ackground-color: rgb(42, 70, 80); */
}
.list li:hover{
    color:white;
    background-color: rgba(97, 60, 119, 0.726);
}
.date {
    color: white;
}
.icons:hover {
    /* font-size: 1.2em; */
      color: #ffc53dc4 !important;
  }